.foot-div{
    background-color: yellow;
    height: 40vh;
    text-align: center;
    padding: 2%;
    bottom: 0;
    position: relative;
    width: 100%;
  }

  .navbar-1{
    font-size: 1.5rem;
    text-align: center;
   margin-top: auto;
  }
  .navbar-1 nav{
    margin: 0;
  }
  
  .navbar-1 ul {
    list-style: none;
    padding: 2%;
    width: 100%;
  }
  
  .navbar-1 li a {
    display: inline;
    margin: 0 5px;
    text-decoration: none;
    color: black;
  }
    